<footer class="container mx-auto h-[100px] my-0 box-border flex justify-between items-center font-HelveticaNeueCyr">
  <a class="cursor-pointer h-[50px]" href="https://rs.school/js/">
    <img class="h-full" src="{{img}}" alt="rs school">
  </a>
  <p>{{year}}</p>
  <div class="flex flex-col gap-2">
    <a class="w-full hover:underline" href="https://github.com/KuniLee">
      KuniLee
    </a>
    <a class="w-full hover:underline" href="https://github.com/GodPFM">GodPFM</a>
  </div>
</footer>