<div class="max-w-[1200px] mx-auto my-0 box-border flex justify-between">
  <div class="w-[48%]">
    <img class='w-full mb-4' src="../assets/images/Photo2.jpg" alt="Photo2">
    <img class='w-full mb-4' src="../assets/images/Photo2.jpg" alt="Photo2">
    <img class='w-full mb-4' src="../assets/images/Photo2.jpg" alt="Photo2">
    <img class='w-full mb-4' src="../assets/images/Photo2.jpg" alt="Photo2">
  </div>
  <div class="w-[48%]">
    <div class="flex items-center justify-between mb-[10px]">
      <h2 class="font-HelveticaNeueCyr font-[550] text-[32px] leading-snug">Jacket dress</h2>
      <p class="font-HelveticaNeueCyr font-normal text-[16px] text-gray-300">Article: <span>1542438</span></p>
    </div>
    <p class="font-HelveticaNeueCyr font-[550] text-[24px] leading-snug mb-[20px]">
      <span>3099</span>
      ₽
    </p>
    <div class="h-[20px] flex items-center mb-4">
      <p class="mr-4 font-HelveticaNeueCyr font-normal text-[16px] leading-[1.1]">Color</p>
      <div class="h-full flex">
        <span class="w-[20px] h-[20px] mr-[3px] rounded-full border-[5px] border-black bg-white cursor-pointer"></span>
        <span class="w-[20px] h-[20px] mr-[3px] rounded-full border-[10px] border-[#FCDDEC] bg-white cursor-pointer"></span>
        <span class="w-[20px] h-[20px] mr-[3px] rounded-full border-[10px] border-[#EF5DA8] bg-white cursor-pointer"></span>
        <span class="w-[20px] h-[20px] mr-[3px] rounded-full border-[10px] border-[#56CCF2] bg-white cursor-pointer"></span>
        <span class="w-[20px] h-[20px] mr-[3px] rounded-full border-[10px] border-[#FFCDA0] bg-white cursor-pointer"></span>
      </div>
    </div>
    <div class="h-[20px] flex items-center justify-between mb-[60px]">
      <div class="flex">
        <p class="mr-4 font-HelveticaNeueCyr font-normal text-[16px] leading-[1.1]">Size</p>
        <div class="h-full flex">
          <div class="w-[24px] h-[24px] border-[1px] border-gray-300 flex items-center justify-center cursor-pointer mr-[5px]">
            <p class="inline-block font-Arial text-[12px] font-normal leading-none">XS</p>
          </div>
          <div class="w-[24px] h-[24px] border-[1px] border-gray-300 flex items-center justify-center cursor-pointer mr-[5px]">
            <p class="inline-block font-Arial text-[12px] font-normal leading-none">S</p>
          </div>
          <div class="w-[24px] h-[24px] border-[1px] border-gray-300 flex items-center justify-center cursor-pointer mr-[5px]">
            <p class="inline-block font-Arial text-[12px] font-normal leading-none">M</p>
          </div>
          <div class="w-[24px] h-[24px] border-[1px] border-gray-300 flex items-center justify-center cursor-pointer mr-[5px]">
            <p class="inline-block font-Arial text-[12px] font-normal leading-none">L</p>
          </div>
          <div class="w-[24px] h-[24px] border-[1px] border-gray-300 flex items-center justify-center cursor-pointer mr-[5px]">
            <p class="inline-block font-Arial text-[12px] font-normal leading-none">XL</p>
          </div>
        </div>
      </div>
      <a class="font-Arial font-normal text-[16px] leading-snug text-gray-300 underline cursor-pointer pb-[4px]">Size table</a>
    </div>
    <div class="flex justify-between items-center mb-[60px]">
      <button type="button" class="w-[91.3%] h-[53px] bg-black flex items-center justify-center text-white font-Arial font-normal text-[16px] leading-snug">
        Add to cart
      </button>
      <div>
        <svg class="w-[30px] block m-auto transition-transform scale-100 group-hover:scale-150 group-hover:transition-transform cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
        </svg>
      </div>
    </div>
    <div>
      <div class="flex justify-between items-center cursor-pointer border-t-[1px] border-b-[1px] border-gray-300 pt-[20px] pb-[20px]">
        <h3 class="font-HelveticaNeueCyr text-[20px] font-[550] leading-snug">Product description</h3>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-18 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </div>
      <div class="flex justify-between items-center cursor-pointer border-b-[1px] border-gray-300 pt-[20px] pb-[20px]">
        <h3 class="font-HelveticaNeueCyr text-[20px] font-[550] leading-snug">Brand</h3>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-18 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </div>
      <div class="flex justify-between items-center cursor-pointer border-b-[1px] border-gray-300 pt-[20px] pb-[20px]">
        <h3 class="font-HelveticaNeueCyr text-[20px] font-[550] leading-snug">Delivery</h3>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-18 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </div>
      <div class="flex justify-between items-center cursor-pointer border-b-[1px] border-gray-300 pt-[20px] pb-[20px]">
        <h3 class="font-HelveticaNeueCyr text-[20px] font-[550] leading-snug">Refund</h3>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-18 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </div>
    </div>
  </div>
</div>