<div class="promocodeBlock flex justify-between mb-[10px]">
  <p>Promo: <span class="promocodeName">{{promocodeName}}</span></p>
  <p class="text-red-600">-<span class="cartDiscount">{{discount}}</span>₽</p>
</div>
